table {
    border-collapse: collapse;
}

td {
    width: 34px;
    height: 34px;
    border: 1px solid grey;
}

.goal {
    background: url(../sprites/goal.png);
}

.mario_up {
    background: url(../sprites/mario_up.gif);
}

.mario_down {
    background: url(../sprites/mario_down.gif);
}

.mario_left {
    background: url(../sprites/mario_left.gif);
}

.mario_right {
    background: url(../sprites/mario_right.gif);
}

.wall {
    background: url(../sprites/wall.jpg);
}

.box {
    background: url(../sprites/box.jpg);
}

.box_ok {
    background: url(../sprites/box_ok.jpg);
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


