table {
    border-collapse: collapse;
    background: rgb(101, 159, 62);
}

td {
    width: 32px;
    height: 32px;
    border: 0px solid grey;
}

.tile {
    width: 34px;
    height: 34px;
}

#selected_tile {
    width: 34px;
    height: 34px;
    position: absolute;
    display: none;
}

.goal {
    background-size: cover;
    background: url(../sprites/goal.png)  no-repeat center;
}

.mario_up {
    background-size: cover;
    background: url(../sprites/player_up.png) no-repeat center;
}

.mario_down {
    background-size: cover;
    background: url(../sprites/player_down.png) no-repeat center;
}

.mario_left {
    background-size: cover;
    background: url(../sprites/player_left.png) no-repeat center;
}

.mario_right {
    background-size: cover;
    background: url(../sprites/player_right.png) no-repeat center;
}

.wall {
    background-size: cover;
    background: url(../sprites/wall.png) no-repeat center;
}

.box {
    background-size: cover;
    background: url(../sprites/box.png) no-repeat center;
}

.box_ok {
    background-size: cover;
    background: url(../sprites/box_ok.png) no-repeat center;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


